<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{% block h1 %}Agence Lilipucien{% endblock %}</h1>
            <p class="lead fw-normal text-white-50 mb-0">{% block resume %}Trouvez le bien de vos rêves. L'Agence Lilipucien ne propose que des biens d'exception présent dans toute la France. {% endblock %}</p>
        </div>
    </div>
</header>