
<h2>Un utilisateur vous a envoyé un message depuis le site</h2>
<h3>Informations sur l'utilisateur</h3>
<p>
Son mail : {{ contact.email }}
Son nom : {{ contact.nom|default('pas renseigné') }}
Son message : {{ contact.message }}
</p>